extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Olvidé mi Contraseña
  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    p.pb-4 Ingresa tu email y te enviaremos un correo electrónico con las instrucciones para restablecer tu contraseña.
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='email') Correo Electrónico
      .col-md-7
        input.form-control(type='email', name='email', id='email', placeholder='Correo Electrónico', autofocus, required)
    .form-group.offset-sm-3.col-md-7.pl-2
      button.btn.btn-primary(type='submit')
        i.fas.fa-key.fa-sm
        | Restablecer Contraseña
