footer
  .container.text-center
    p.float-left © 2018 Caff Balance, Todos los derechos Reservados
    ul.float-right.list-inline
      li.list-inline-item
        a(href='#') Caff Gimnasio
      li.list-inline-item
        a(href='#') Política de Privacidad
