.navbar.navbar-light.fixed-top.navbar-expand-md
  .container
    a.navbar-brand(href='/')
      i.fas.fa-cube
      | Caff Balance
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.navbar-toggler-icon
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li.nav-item(class=(title === 'Inicio') ? 'active' : undefined)
          a.nav-link(href='/') Inicio
        li.nav-item(class=(title === 'Acerca De') ? 'active' : undefined)
          a.nav-link(href='/about') Acerca De
        li.nav-item(class=(title === 'Contacto') ? 'active' : undefined)
          a.nav-link(href='/contact') Contacto
        if user
          li.nav-item(class=(title === 'Rutina del Día') ? 'active' : undefined)
            a.nav-link(href='/routine/0') Rutina del Día
      ul.nav.navbar-nav.ml-auto
        if !user
          li.nav-item(class=(title === 'Iniciar Sesión') ? 'active' : undefined)
            a.nav-link(href='/login') Iniciar Sesión
          li.nav-item(class=(title === 'Registrarse') ? 'active' : undefined)
            a.nav-link(href='/signup') Registrarse
        else
          li.dropdown(class=(title === 'Mi Perfil') ? 'active' : undefined).nav-item
            a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src=user.profile.picture)
              else
                img(src=user.gravatar(60))
              span= user.profile.name || user.email || user.id
              i.caret
            ul.dropdown-menu
              li.dropdown-item
                a(href='/account') Mi Cuenta
              if user.type !== 'ADMIN'
                li.dropdown-item
                  a(href='/billing') Información Bancaria
              li.divider.dropdown-item
              li.dropdown-item
                a(href='/logout') Cerrar Sesión
          if user.type === 'ADMIN'
            li.dropdown(class=(title === 'Ejercicios') ? 'active' : undefined).nav-item
              a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
                span Administración
                i.caret
              ul.dropdown-menu
                li.dropdown-item
                  a(href='/exercises') Ejercicios
                li.dropdown-item
                  a(href='/routines') Rutinas
                li.divider.dropdown-item
                li.dropdown-item
                  a(href='/clients') Clientes
                li.dropdown-item
                  a(href='/sales') Ventas
