footer.footer
  .container-fluid
    nav.float-left
      ul
        li
          a(href="https://www.creative-tim.com") Creative Tim
        li
          a(href="https://creative-tim.com/presentation") About Us
        li
          a(href="http://blog.creative-tim.com") Blog
        li
          a(href="https://www.creative-tim.com/license") Licenses
    .copyright.float-right
      | &copy;
      script.
        document.write(new Date().getFullYear())
      | , Hecho con
      i.material-icons favorite
      | por
      a(href="https://www.creative-tim.com" target="_blank")  Caff Balance
      |  para una mejor vida