.sidebar(data-color="purple", data-background-color="white", data-image="localhost:8080/dashboard/img/sidebar-1.jpg")
  .logo
    a.simple-text.logo-normal(href="/") Caff Balance
  .sidebar-wrapper
    .nav
      li.nav-item(class=(title === 'Dashboard' ? 'active' : undefined ))
        a.nav-link(href="/dashboard")
          i.material-icons dashboard
          p Dashboard
      li.nav-item(class=(title === 'Profile' ? 'active' : undefined ))
        a.nav-link(href="/content")
          i.material-icons user
          p Usuario
      li.nav-item(class=(title === 'Profile' ? 'active' : undefined ))
        a.nav-link(href="/content")
          i.material-icons user
          p Usuario
      li.nav-item(class=(title === 'Profile' ? 'active' : undefined ))
        a.nav-link(href="/content")
          i.material-icons user
          p Usuario