extends layout

block content
  h1.text-center Error 404 :(
  p.lead.text-center Eso que buscas no existe o lo hemos perdido.
  hr
  .row
    .col
      h5 Volvamos a un lugar que si conozcamos.
      p
        a.btn.btn-raised(href='/', role='button') Regresar a Inicio »
