extends layout

block content
  h1 Error 404 :(
  p.lead Eso que buscas no existe o lo hemos perdido.
  hr
  .row
    .col-md-6
      h5 Volvamos a un lugar que si conozcamos.
      p
        a.btn.btn-raised(href='/', role='button') Regresar a Inicio »
