extends layout

block content
  h1 Acerca de Caff Balance
  p.lead Página de datos rápidos sobre Caff Balance
  hr
  .row
    .col-md-6
      h3 ¿Qué es Caff Balance?
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-outline-secondary.btn-block(href='#', role='button') Inscribirse ahora »
    .col-md-6
      img.img-fluid(src="http://place-hold.it/500x400", alt="Caff Balance")
  hr
  .row
    .col.text-center
      h3 Nuestra Meta eres Tú.
      p.lead Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad voluptate quod nulla placeat illo omnis repellendus architecto fuga eveniet. Tempore saepe adipisci quas, commodi asperiores omnis rerum ipsam molestias id.
  hr
  .row
    h3 Nuestro Equipo
  .row
    .card-deck
      .card
        img.card-img-top(src='http://place-hold.it/350', alt='Card image cap')
        .card-body
          h5.card-title Marco
            small  - Founder & CEO
          p.card-text
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga magnam provident delectus minima quo voluptatem temporibus, maxime mollitia aspernatur ullam aliquam quas praesentium in consectetur tempora. Beatae harum corporis facilis!
        .card-footer.text-center
          a.btn.btn-social.btn-twitter.mx-2(href='#')
            span.fab.fa-twitter
            | Twitter
          a.btn.btn-social.btn-facebook.mx-2(href='#')
            span.fab.fa-facebook
            | Facebook
      .card
        img.card-img-top(src='http://place-hold.it/350', alt='Card image cap')
        .card-body
          h5.card-title Alguien Pérez
            small  - Entrenador
          p.card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis incidunt ipsam molestias cumque quaerat numquam unde quas ab porro ratione commodi officiis enim suscipit est nulla repellendus facere, et mollitia.
        .card-footer.text-center
          a.btn.btn-social.btn-facebook.mx-2(href='#')
            span.fab.fa-facebook
            | Facebook
      .card
        img.card-img-top(src='http://place-hold.it/350', alt='Card image cap')
        .card-body
          h5.card-title Carlos Ortega
            small  - Barbas Locas
          p.card-text
            | This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
        .card-footer.text-center
          a.btn.btn-social.btn-twitter.mx-2(href='#')
            span.fab.fa-twitter
            | Twitter
