extends ../layout

block content
  link(rel="stylesheet", href="https://vjs.zencdn.net/7.1.0/video-js.css")
  script(src="https://vjs.zencdn.net/7.1.0/video.js")
  h1 Rutina del día
  p.lead Esta es la rutina del día de hoy
  hr
  .row
    .col-md-12.text-center(oncontextmenu="return false;", onselectstart="return false;", ondragstart="return false;")
      video(id="routine-video", class="video-js vjs-big-play-centered", controls, preload="auto",  data-setup="{fluid: true}", style="width: 100%;")
        source(src="https://vjs.zencdn.net/v/oceans.mp4", type="video/mp4")
        p.vjs-no-js
          | To view this video please enable JavaScript, and consider upgrading to a web browser that
          a(href="https://videojs.com/html5-video-support/") supports HTML5 video
  .row.my-2
    .col
      a.btn.btn-block.btn-dark(href="/") Anterior
    .col
      a.btn.btn-block.btn-dark(href="/") Siguiente
